[submodule "frontend"]
	path = frontend
	url = https://github.com/ar1en/am_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ar1en/am_backend.git
[submodule "docker"]
	path = docker
	url = https://github.com/ar1en/am_docker.git
