body {
    margin: 0;
    padding: 0;
    /*overflow: hidden; !* чтобы избежать прокрутки страницы *!*/
}

.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sideMenu {
    position: fixed;
    height: 100%;
    top: 90px;
    z-index: 1000;
    overflow-y: auto;
}

.hdr {
    /*position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    z-index: 1000;*/

    /*    position: fixed;*/
    /*    top: 0;*/
    /*    height: 75px;*/
    /*    width: 100%;*/
}

.mainContainer {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
    justify-content: space-between;
    /*flex-grow: 1;*/
    /*overflow: hidden;*/
    transition: margin-left 0.3s;
}

.content {
    margin-top: 90px;
    margin-left: 55px;
    position: absolute;
    transition: margin-left 0.3s;
}

.contentCollapsed {
    margin-top: 90px;
    margin-left: 235px;
    transition: margin-left 0.3s;
}