/*.side_menu {*/
/*    position: fixed;*/
/*    width: 270px;*/
/*    left: -200px;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: start;*/
/*    background-color: #f8f9fa;*/
/*}*/

/*.side_menu_active {*/
/*    position: fixed;*/
/*    width: 270px;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: start;*/
/*    background-color: #f8f9fa;*/
/*    transition: transform 0.3s linear;*/
/*}*/

.sidebarOpen {
    /*position: fixed;*/
    height: 100%;
    /*top: 90px;*/

    width: 230px;
    display: flex;
    flex-direction: column;
    /*align-items: start;*/
    justify-content: space-between;

    /*padding: 16px;*/
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebarCollapsed {
    /*position: fixed;*/
    height: 100%;
    /*top: 90px;*/

    width: 230px;
    display: flex;
    flex-direction: column;
    /*align-items: start;*/
    justify-content: space-between;

    /*padding: 16px;*/
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-left: -180px;
}

.buttonMenu {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*.buttonMenuIcon {*/
/*    width: 50px;*/
/*}*/

.hidePlace {
    /*background-color: rgba(190, 85, 10, 0.91);*/
    /*margin-left: -8px;*/
    height: 120px;
    width: 100%;
    align-content: start;
}

.button_hide {
    width: 200px;
    line-height: 1em;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 5px;
    border: transparent;
    /*background-color: #f8f9fa;*/
}

/*.button_hide:hover {*/
/*    background: #d0d1d3;*/
/*}*/

/*.button_hide:active {*/
/*    background: #d0d1d3;*/
/*}*/

