/*.side_menu {*/
/*    position: fixed;*/
/*    width: 270px;*/
/*    left: -200px;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: start;*/
/*    background-color: #f8f9fa;*/
/*}*/

/*.side_menu_active {*/
/*    position: fixed;*/
/*    width: 270px;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: start;*/
/*    background-color: #f8f9fa;*/
/*    transition: transform 0.3s linear;*/
/*}*/

.sidebarOpen {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 270px;
    top: 90px;
    /*padding: 16px;*/
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebarCollapsed {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 270px;
    top: 90px;
    /*padding: 16px;*/
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-left: -200px;
}

.buttonMenuText {
    width: 200px;
}
.buttonMenuIcon {
    width: 50px;
}

.hidePlace {
    /*background-color: rgba(190, 85, 10, 0.91);*/
    margin-left: -8px;
    height: 100%;
}

.button_hide {
    width: 15px;
    line-height: 1em;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    /*border-radius: 5px;*/
    border: transparent;
    background-color: #f8f9fa;
}

.button_hide:hover {
    background: #d0d1d3;
}

.button_hide:active {
    background: #d0d1d3;
}

